.sample13 {
	width:			400px;
	height:			400px;
	overflow:		hidden;
	margin:			10px 8px 10px 16px;
	position:		relative;
}

.sample13 img {
    width: 100%;
    height: 100%;
}

.sample13 .caption {
	width:			100%;
	height:			100%;
	visibility:		hidden;	/* 文字を表示しない */
	font-size:		180%;
	position:		absolute;
	top:			0;
	left:			0;
	text-align:		center;
	transition:		all 0.4s step-end;
}
.sample13:hover .caption {
	visibility:		visible;	/* 文字を表示する */
}
.sample13 .caption a {
    width: 100%;
    height: 100%;
	font-size:		180%;
	padding-top:	160px;
	color:black;
	opacity:		0;	/* ホバーが解除された時すぐ消えるように、文字を表示しない */
    display: block;
    text-decoration: none;
}
.sample13:hover .caption a {
	opacity:		1;	/* 文字を表示する */
}
.sample13 .mask1, .sample13 .mask2 {
	width:			50%;	/* 幅は半部のサイズ */
	height:			100%;
	position:		absolute;
    background-color: #FFFFF3;
	top:			0;
	transition:		all 0.4s ease;
}
.sample13 .mask1 {
	left:			-50%;	/* 枠の左に置いて表示させない */
}
.sample13:hover .mask1 {
	left:			0px;	/* 左にずらして表示する */
}
.sample13 .mask2 {
	right:			-50%;	/* 枠の右に置いて表示させない */
}
.sample13:hover .mask2 {
	right:			0px;	/* 右にずらして表示する */
}